{% include 'page-templates/views/partials/banner.twig' %}

<main class="upcoming-events vertical-padding">	
	<div class="row columns"><h4>Upcoming</h4></div>
		{% for event in upcoming %}
			<div class="row align-justify event-listing__event event">
				<div class="small-12 medium-5 columns">
					<h2 class="event__title"><a href="{{ event.link }}">{{ event.title }}</a></h2>
					<span class="event__location">{{ event.location }}</span>
					<span class="event__date">{{ event.dates }}</span>
					<div class="event__description">{{ event.description }}</div>
					<div class="button-group">
						<a href="{{ event.link }}" class="button">More info</a>
						{% if event.ticket_link %} <a target="_blank" href="{{ event.ticket_link }}" class="button hollow">Tickets</a>{% endif %}
					</div>
				</div>
				{% if event.thumbnail %}
					<div class="small-12 medium-6 columns">
						<a href="{{ event.link }}"><img src="{{ TimberImage(event.thumbnail.src)|resize(800, 500) }}" alt="{{ event.thumbnail.alt }}"></a>
					</div>
				{% endif %}
			</div>	
		{% endfor %}			
</main>

{# <section class="past-events vertical-padding">
	<div class="row columns"><h4>Past</h4></div>
		{% for event in past %}
			<div class="row align-justify event-listing__event event">
				<div class="small-12 medium-5 columns">
					<h2 class="event__title"><a href="{{ event.link }}">{{ event.title }}</a></h2>
					<span class="event__location">{{ event.location }}</span>
					<span style="margin-bottom: 1em;" class="event__date">{{ event.dates }}</span>					
					<div class="button-group">
						<a href="{{ event.link }}" class="button">More info</a>						
					</div>
				</div>
				{% if event.thumbnail %}
					<div class="small-12 medium-6 columns">
						<img src="{{ TimberImage(event.thumbnail.src)|resize(800) }}" alt="{{ event.thumbnail.alt }}">
					</div>
				{% endif %}
			</div>	
		{% endfor %}			
</section> #}
